
.music-player {
  font-family: "Didact Gothic";
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  left: 0;
  background-color: #181818;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.overlay-title {
  text-align: center;
}

.overlay-img {
  display: flex;
  justify-content: center;
}

.connect-device-list-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.device-button {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  background-color: inherit;
  margin: 5px;
}

li:hover {
  cursor: pointer;
}

.music-player__now-playing {
  width: 30%;
  display: flex;
  align-items: center;
}
.music-player__song-info {
  display: flex;
  align-items: center;
  color: #fff;
}
.music-player__song-info-cover {
  width: 56px;
  height: 56px;
  background-color: #181818;
  margin: 0 16px;
}
.music-player__song-info-cover-img {
  display: block;
  width: 56px;
  height: 56px;
}
.music-player__song-info-about {
  margin-right: 10px;
}
.music-player__song-info-link {
  text-decoration: none !important;
  color: #fff;
  letter-spacing: 0.21px;
  /* font-weight: 200; */
}
.music-player__song-info-link--song-name {
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 600;
}
.music-player__song-info-link--artist-name {
  text-decoration: none !important;
  color: #b3b3b3;
  font-size: 12px;
  /* letter-spacing: 0.165px; */
  font-weight: 500;
}

.music-player__song-info-link:hover {
  color: #fff;
  text-decoration: underline;
}
.music-player__add-to-library {
  position: relative;
}
.music-player__add-to-library:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-size: contain;
  /* background-image: url('../../../assets/img/icons/add.svg'); */
}
.music-player__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.music-player__controls-buttons {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 32px;
  margin-bottom: 5px;
}
.music-player__controls-button {
  position: relative;
  background-color: inherit;
  border: none;
}
.music-player__controls-button--shuffle:after,
.music-player__controls-button--previous:after,
.music-player__controls-button--play:after,
.music-player__controls-button--pause:after,
.music-player__controls-button--next:after,
.music-player__controls-button--repeat:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-size: contain;
}

.music-player__controls-button--shuffle:after {
  background-image: url("../../../assets/loop.svg");
}
.music-player__controls-button--previous:after {
  background-image: url("../../../assets/previous.svg");
}
.music-player__controls-button--play:after {
  background-image: url("../../../assets/play.svg");
  transition: filter transform 0.5s ease-in-out;
}

.music-player__controls-button--next:after {
  background-image: url("../../../assets/next.svg");
}
.music-player__controls-button--repeat:after {
  background-image: url("../../../assets/loop.svg");
}
.music-player__controls-button--pause:after {
  background-image: url("../../../assets/pause.svg");
}
.music-player__playback-settings-song-list-button {
  font-size: 24px;
  color: #b3b3b37e;
  top: -5px;
    right: 65px;
}

.music-player__playback-settings-volume-button {
  font-size: 24px;
  color: #b3b3b37e;
  top: -5px;
  right: 55px;
}

.music-player__controls-button--play:hover,
.music-player__controls-button--previous:hover,
.music-player__controls-button--next:hover,
.music-player__controls-button--pause:hover {
  filter: invert(1);
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: filter transform 0.5s ease-in-out;
}

.music-player__playback-settings-song-list-button:hover,
.music-player__playback-settings-volume-button:hover {
  /* filter: invert(1); */
  cursor: pointer;
  color: #b3b3b3;
  transform: scale(1.1, 1.1);
  transition: filter transform 0.5s ease-in-out;
}

.music-player__controls-button--play:focus,
.music-player__controls-button--previous:focus,
.music-player__controls-button--next:focus,
.music-player__controls-button--pause:focus,
.music-player__playback-settings-song-list-button:focus,
.music-player__playback-settings-volume-button:focus {
  outline: 0;
  border: none;
  outline-style: none;
  -moz-outline-style: none;
}

.music-player__song-info:hover {
  cursor: pointer;
}

.music-player__playback-bar {
  width: 100%;
  display: flex;
  align-items: center;
}
.music-player__playback-bar-progress-bar {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404040;
}


.music-player__playback-bar-progress-bar-state {
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  border-radius: 2px;
  max-width: 100%;
  width: 10%;
  background-color: #fff;
}
.music-player__playback-bar-curent-time,
.music-player__playback-bar-time-left {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.015em;
  min-width: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  user-select: none;
}
.music-player__playback-bar:hover
  .music-player__playback-bar-progress-bar-state {
  background-color: #1db954;
}
.music-player__playback-settings {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 16px;
}
.music-player__playback-settings-song-list-button,
.music-player__playback-settings-volume-button {
  position: relative;
  background-color: inherit;
  border: none;
}

.music-player__playback-settings-volume-progress-bar {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 82px;
  height: 4px;
  border-radius: 2px;
  background-color: #404040;
  padding: 2em;
  margin: -2em;
  left: -3em;
  top: 2em;
  margin-left: 2px;
  cursor: pointer;
  background-color: #181818;
}
.music-player__playback-settings-volume-progress-bar-state {
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  border-radius: 2px;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
}
.volume-text {
  position: relative;
  font-size: 12px;
  color: #949494;
  top: -55px;
  left: -4px;
  font-weight: 600;
}

.music-player__playback-settings-volume-progress-bar:hover
  .music-player__playback-settings-volume-progress-bar-state {
  background-color: #1db954;
}

@media only screen and (max-width: 600px) {
  .music-player__controls-button--shuffle:after,
  .music-player__controls-button--previous:after,
  .music-player__controls-button--play:after,
  .music-player__controls-button--pause:after,
  .music-player__controls-button--next:after,
  .music-player__controls-button--repeat:after {
    margin-top: 10px;
    width: 12px;
    height: 12px;
  }

  .music-player__playback-settings-volume-progress-bar-state {
    margin-left: 7px;
  }

  .music-player__song-info-cover-img {
    /* margin: 0; */
    width: 48px;
    height: 48px;
  }

  .music-player__song-info-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    margin-left: -80px;
  }

  .music-player__song-info-link--song-name,
  .music-player__song-info-link--artist-name {
    font-size: 0.5em;
    /* margin-top: 15px; */
    margin-left: 8px;
  }

  .music-player__song-info-name,
  .music-player__song-info-artist {
    margin-top: -10px;
  }

  .music-player__playback-settings-song-list-button, .music-player__playback-settings-volume-button {
    visibility: hidden;
  }

  .music-player__playback-settings-volume-progress-bar {
    width: 48px;
  }

  .volume-text {
    font-size: 0.65em;
  }

  .music-player__controls {
    width: 80%;
  }
}

@media only screen and (max-width: 370px) {
  .music-player__controls {
    width: 50%;
  }
}
