nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #121212;
}

li {
  float: left;
}

li h1 {
  display: block;
  font-size: 1em;
  color: #b3b3b3;
  font-weight: 700;
  text-align: center;
  letter-spacing: .16em;
  /* text-transform: uppercase; */
  padding: 14px 16px;
  text-decoration: none;
  outline : none;
  transition: color ease-in 0.25s;
}

a.active {
  content: "";
  height: 2px;
  background-color: #1db954;
  width: 30px;
  /* position: absolute; */
  display: block;
  /* left: 75%; */
  margin-top: 5%;
  margin-left: 30%;
}

/* Change the link color to #111 (black) on hover */
li h1:hover {
  color: white;
  cursor: pointer;
  transition: ease-in 0.25s;
}

li h1.active {
  color: white;
  outline : none;
}
